html{
  background: #71CBC4;
  display: flex;
  justify-content: center;
}




ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

li a{  
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
  color: #DE9590;
  padding: 50px;
  
}
h1 {
font-size: 4rem;
}
ul div{

  border-radius: 30px; 
  padding: 10px;
  margin:  10px;
}

#nav{
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    border: 3px solid black;
    background: white;

}
  #nav a{
    font-size: 2rem;
    text-decoration: none;

    color: darkslateblue;
    padding: 1rem 2rem;
    transition: 500ms ease;


  }

 